<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table, tr, td{
        border: 1px solid black;
        padding: 5px;
    }
</style>
<body>
    <h1>{{author.name}} Favorite Book</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Pages</th>
            </tr>
        </thead>
        <tbody>            
            {% for fave in faves %}
                <tr>
                    <td>{{fave.title}}</td>
                    <td>{{fave.num_of_pages}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="/authors/favorites" method="post">
        <input type="hidden" name="author_id" value="{{author.id}}">
        <p>
            Books:
            <select name="book_id" id="">
                {% for book in books %}
                    <option value="{{book.id}}">{{book.title}}</option>
                {% endfor %}
            </select>
        </p>
        <button type="submit">Add</button>
    </form>
</body>
</html>