<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit</h1>
    <form action="/users/{{user.id}}/update" method="post">
        <input type="text" name="first_name" value="{{user.first_name}}" id="">
        <input type="text" name="last_name" value="{{user.last_name}}" id="">
        <input type="text" name="occupation" value="{{user.occupation}}" id="">
        <button type="submit">Create</button>
    </form>
</body>
</html>